@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  .header {
    padding-bottom: 10px;
    background-image: linear-gradient(to right, $annoq-primary-color, $annoq-primary-color, rgba($annoq-primary-color, 0.6));
    background-blend-mode: initial;
    background-size: cover;
    background-position: top;
    padding-top: 50px !important;
    position: relative;
    flex: 1 0 auto;
    height: 500px;
    min-width: 800px;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint('lt-md') {
      height: 200px;
      min-width: 600px;
    }

    .anooq-section {
      padding: 20px 10px;

      &.section-1 {
        background-color: #EEE;
      }

      &.section-2 {
        background-color: rgba($annoq-primary-color, 0.1);
      }
    }

    .annoq-container {
      overflow: hidden;
    }

    h1 {
      width: 100%;
      font-size: 30px;
      font-weight: normal;
      margin-top: 0;
      color: #FFF;

      strong {
        font-size: 54px;
        letter-spacing: 3px;
      }


      @include media-breakpoint('lt-md') {
        font-size: 24px;
      }
    }

    h2 {
      width: 100%;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.03em;
      margin: 0 0 18px 0;
      color: #ffffff;
      line-height: 1.5;

      @include media-breakpoint('lt-md') {
        font-size: 14px;
      }
    }

    h4 {
      padding-top: 10px;
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      margin: 0;
      color: rgba(#ffffff, 0.8);
    }


    .annoq-image {
      height: 400px;
      overflow: hidden;

      img {
        height: 100%;
      }
    }

  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  .card {
    // @include deep-width(185px);
    @include deep-height(250px);
    padding: 0 8px;
    margin-bottom: 16px;
    height: 250px;
  }

  .annoq-card {
    @include deep-width(100%);
    @include deep-height(100%);

    overflow: hidden;

    @include mat-elevation(3);

    .annoq-image {
      height: 120px;
      overflow: hidden;

      img {
        height: 100%;
      }
    }

    .annoq-card-title {
      overflow: hidden;
      height: 35px;
    }

    .annoq-card-chips {
      overflow: hidden;
      height: 35px;
    }

    .annoq-card-footer {

      .annoq-action-button {
        margin: 0 6px;
        @include mat-elevation(2);
      }

      .annoq-action-love {
        @include deep-width(50px);
        @include deep-height(50px);
        font-size: 36px;
        color: #da7979;
      }

      .annoq-action-skip {
        @include deep-width(30px);
        @include deep-height(30px);
        font-size: 14px;
        line-height: 30px;
        // color: #e28a8a;
        color: #AAA;
      }

      .annoq-action-ok {
        @include deep-width(40px);
        @include deep-height(40px);
        line-height: 40px;
        font-size: 26px;
        color: #91d691;
      }
    }
  }

}
