<div class="w-100-p" annoqPerfectScrollbar>

  <div class="annoq-free-banner">
    <div class="annoq-container text-center" fxLayout="column" fxLayoutAlign="center stretch">
      This website is free and open to all users and there is no login requirement.
    </div>
  </div>

  <div class="header accent p-8 w-100-p">
    <div class="annoq-container" fxLayout="start center" fxLayoutAlign="start center">
      <div class="left-text" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" fxFlex.gt-sm="30%">
        <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
          The Annotation Query<br>
          <strong>
            (AnnoQ)
          </strong>
        </h1>
        <h2>
          An integrated and interactive platform for large-scale genetic variant
          annotation.
        </h2>
        <div class="annoq-query-buttons w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button [routerLink]="['/search']" fxFlex="100"
            class="annoq-rounded-button annoq-half-button annoq-r w-100-p">
            LAUNCH QUERY UI
          </button>
          <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" fxFlex="100" target="_blank">
            <button mat-raised-button class="annoq-rounded-button annoq-half-button annoq-l w-100-p">
              UI TUTORIAL
            </button>
          </a>
        </div>
      </div>
      <span fxFlex=""></span>
      <div class="annoq-video" fxLayout="column" fxFlex="100" fxFlex.gt-sm="70%">
        <!--   <img class="" src="assets/images/annoq-cloud-md.png"> -->

        <iframe width="560" height="315" src="https://www.youtube.com/embed/plaU42-x4jE" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="annoq-section section-2">
    <div class="annoq-container" fxLayout="row" fxLayoutAlign="start center">
      <div class="card card-stats" fxFlex="50%">
        <div class="annoq-card card-sm">
          <div class="annoq-stat annoq-lg-font" fxLayout="column" fxLayoutAlign="start center">
            <div class="h-100-p">
              ~39 million
              <div class="annoq-hint">
                Currently only human variants are supported
              </div>
            </div>
          </div>
          <div class="annoq-card-title">
            pre-annotated variants from the <a href="http://www.haplotype-reference-consortium.org"
              target="_blank">Haplotype
              Reference Consortium (HRC)</a>
          </div>
        </div>
      </div>
      <div class="card card-stats" fxFlex="50%">
        <div class="annoq-card">
          <div class="annoq-stat annoq-lg-font" fxLayout="column" fxLayoutAlign="start center">
            600+
          </div>
          <div class="annoq-card-title">
            Supported Annotation Types <a [routerLink]="['/detail']">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="annoq-section section-1">
    <div class="annoq-container text-center" fxLayout="column" fxLayoutAlign="center stretch">
      <div class="annoq-heading">
        <h2>Interactive Query Access</h2>
      </div>

      <div class="annoq-row-description annoq-easyuse" fxLayout="row" fxLayoutAlign="start center">
        <div class="annoq-description" fxLayout="column" fxLayoutAlign="start start">
          <h3 class="p-0 m-0">Easy To Use Interactive Query</h3>
          <p class="p-0">
            Its easy-to-use user interface and search capabilities suit better for scientists with less bioinformatics
            skills, including bench scientists and statistician.
          </p>
        </div>
        <span fxFlex=""></span>
        <div class="annoq-img">
          <img class="" src="assets/images/doctor-laptop.png">
        </div>
      </div>
      <div class="annoq-row-description annoq-ui" fxLayout="row" fxLayoutAlign="start center">
        <div class="annoq-img">
          <img class="" src="assets/images/ui-query.png">
        </div>
        <span fxFlex=""></span>
        <div class="annoq-description annoq-steps" fxLayout="column" fxLayoutAlign="start start">
          <div class="card card-step">
            <div class="annoq-card" fxLayout="row" fxLayoutAlign="start center">
              <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
                1
              </div>
              <div class="annoq-card-title p-8" fxLayout="column" fxLayoutAlign="center start">
                <div class="secondary-text">Select annotations</div>
                <small>Organized in tree structure</small>
              </div>
              <span fxFlex=""></span>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank"
                mat-stroked-button class="annoq-rounded-button annoq-sm">
                MORE INFO
              </a>
            </div>
          </div>
          <div class="card card-step">
            <div class="annoq-card" fxLayout="row" fxLayoutAlign="start center">
              <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
                2
              </div>
              <div class="annoq-card-title p-8 " fxLayout="column" fxLayoutAlign="center start">
                <div class="secondary-text">Choose Query Type </div>
                <small>5 types of supported queries  </small>
              </div>
              <span fxFlex=""></span>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank"
                mat-stroked-button class="annoq-rounded-button annoq-sm">
                MORE INFO
              </a>
            </div>
          </div>

          <div class="card card-step">
            <div class="annoq-card" fxLayout="row" fxLayoutAlign="start center">
              <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
                3
              </div>
              <div class="annoq-card-title p-8 " fxLayout="column" fxLayoutAlign="center start">
                <div class="secondary-text annoq-lg">Submit query </div>
              </div>
              <span fxFlex=""></span>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank"
                mat-stroked-button class="annoq-rounded-button annoq-sm">
                MORE INFO
              </a>
            </div>
          </div>
          <div class="card card-step">
            <div class="annoq-card" fxLayout="row" fxLayoutAlign="start center">
              <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
                4
              </div>
              <div class="annoq-card-title p-8 " fxLayout="column" fxLayoutAlign="center start">
                <div class="secondary-text">View Results
                </div>
                <small>Displayed in table and summary page
                </small>
              </div>
              <span fxFlex=""></span>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank"
                mat-stroked-button class="annoq-rounded-button annoq-sm">
                MORE INFO
              </a>
            </div>
          </div>
          <div class="card card-step">
            <div class="annoq-card" fxLayout="row" fxLayoutAlign="start center">
              <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
                5
              </div>
              <div class="annoq-card-title p-8 " fxLayout="column" fxLayoutAlign="center start">
                <div class="secondary-text">Download Results (optional) </div>
                <small>A generated file is ready to download </small>
              </div>
              <span fxFlex=""></span>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank"
                mat-stroked-button class="annoq-rounded-button annoq-sm">
                MORE INFO
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="annoq-section section-2 text-center">
    <div class="annoq-heading">
      <h2>Additional Programmatic Access</h2>
      <p class="p-0">
        We provide more ways to access the annotated date. Whether you want to use the API, AnnoQ User Interface or R
        Package
      </p>
    </div>
    <div class="annoq-container" fxLayout="row" fxLayoutAlign="start start">
      <div class="card" fxFlex="33%">
        <div class="annoq-card">
          <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
            <fa-icon [icon]="['fas', 'search-plus']"></fa-icon>
          </div>
          <div class="annoq-card-title p-8" fxLayout="column" fxLayoutAlign="start center">
            <div class="">Interactive Query</div>
          </div>
          <div class="annoq-card-description p-8 pt-0">
            Getting the annotation data with a graphic interface.
          </div>
          <div class="p-8 pt-0 annoq-card-footer" fxLayout="row" fxLayoutAlign="center center">
            <div class="annoq-query-buttons w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button [routerLink]="['/search']" fxFlex="50"
                class="annoq-rounded-button mr-4 annoq-half-button annoq-sm annoq-r">
                LAUNCH QUERY UI
              </button>
              <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" fxFlex="50" target="_blank">
                <button mat-raised-button class="annoq-rounded-button annoq-half-button annoq-sm annoq-l w-100-p">
                  UI TUTORIAL
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" fxFlex="33%">
        <div class="annoq-card">
          <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
            <fa-icon [icon]="['fas', 'code']"></fa-icon>
          </div>
          <div class="annoq-card-title p-8 text-truncate" fxLayout="column" fxLayoutAlign="start center">
            <div class="">API Data Access</div>
          </div>
          <div class="annoq-card-description p-8 pt-0">
            Retrieving annotation data using scripts.
          </div>
          <div class="p-8 pt-0 annoq-card-footer" fxLayout="row" fxLayoutAlign="center center">
            <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/api" target="_blank" mat-stroked-button
              class="annoq-rounded-button">
              VIEW DETAILS
            </a>
          </div>
        </div>
      </div>
      <div class="card" fxFlex="33%">
        <div class="annoq-card">
          <div class="annoq-icon" fxLayout="row" fxLayoutAlign="center center">
            <fa-icon [icon]="['fas', 'file-code']"></fa-icon>
          </div>
          <div class="annoq-card-title p-8" fxLayout="column" fxLayoutAlign="start center">
            <div class="">R Package</div>
          </div>
          <div class="annoq-card-description p-8 pt-0">
            Getting annotation data via R programming language.
          </div>
          <div class="p-8 pt-0 annoq-card-footer" fxLayout="row" fxLayoutAlign="center center">
            <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/r-package" target="_blank"
              mat-stroked-button class="annoq-rounded-button">
              VIEW DETAILS
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="annoq-section section-1 text-center">
    <div class="annoq-heading mb-28">
      <h3>We recommend the services of our trusted resources</h3>
      <p class="p-0">
        We could not do it without our partners and collaborators. The variants data set was from the Haplotype
        Reference Consortium (HRC), and was pre-annotated with sequence features by WGSA and functions by PANTHER and
        Gene Ontology. We are very grateful for the reliable data and tools they provide. Last, this work is not
        possible without the support from the members at the <a href="https://p01.uscbiostatistics.org/"
          target="_blank">USC IMAGE Project</a>.
        Funding of this project is provided by NIH
      </p>
    </div>
    <div class="annoq-container mt-24 mb-28" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="card card-logo">
        <div class="annoq-card">
          <div class="annoq-image" fxLayout="row" fxLayoutAlign="center center">
            <a href="https://p01.uscbiostatistics.org/" target="_blank">
              <img class="" src="assets/images/logos/image-logo-mono.png">
            </a>
          </div>
        </div>
      </div>
      <div class="card card-logo">
        <div class="annoq-card">
          <div class="annoq-image" fxLayout="row" fxLayoutAlign="center center">
            <a href="https://sites.google.com/site/jpopgen/wgsa" target="_blank">
              WGSA
            </a>
          </div>
        </div>
      </div>
      <div class="card card-logo">
        <div class="annoq-card">
          <div class="annoq-image" fxLayout="row" fxLayoutAlign="center center">
            <a href="http://pantherdb.org/" target="_blank">
              <img class="" src="assets/images/logos/panther-logo-mono.png">
            </a>
          </div>
        </div>
      </div>
      <div class="card card-logo">
        <div class="annoq-card">
          <div class="annoq-image" fxLayout="row" fxLayoutAlign="center center">
            <a href="http://geneontology.org/" target="_blank">
              <img class="" src="assets/images/logos/go-logo-mono.png">
            </a>
          </div>
        </div>
      </div>
      <div class="card card-logo">
        <div class="annoq-card">
          <div class="annoq-image" fxLayout="row" fxLayoutAlign="center center">
            <a href="http://www.haplotype-reference-consortium.org" target="_blank">
              <strong>HRC</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="annoq-section section-3 text-center">
    <div class="annoq-heading mb-12">
      <h2>Browser Compatibility Summary</h2>
    </div>
    <div class="annoq-card-description p-8 pt-0 mb-16">
      For more details on AnnoQ's browser support and future work, please check out
      <a href="https://uscbiostats.github.io/annoq-site/docs/getting_started/browser_compatibility" target="_blank">
        more details
      </a>
    </div>
    <div class="annoq-container" fxLayout="row" fxLayoutAlign="start center">
      <table mat-table [dataSource]="dataSource" class="annoq-compatibility-table">
        <ng-container matColumnDef="os">
          <th mat-header-cell *matHeaderCellDef class="annoq-os-header-cell"> OS </th>
          <td mat-cell *matCellDef="let element" class="annoq-os-cell"> {{element.os}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>

        <ng-container matColumnDef="chrome">
          <th mat-header-cell *matHeaderCellDef> Chrome </th>
          <td mat-cell *matCellDef="let element"> {{element.chrome}} </td>
        </ng-container>

        <ng-container matColumnDef="firefox">
          <th mat-header-cell *matHeaderCellDef> Firefox </th>
          <td mat-cell *matCellDef="let element"> {{element.firefox}} </td>
        </ng-container>

        <ng-container matColumnDef="edge">
          <th mat-header-cell *matHeaderCellDef> Microsoft Edge </th>
          <td mat-cell *matCellDef="let element"> {{element.edge}} </td>
        </ng-container>

        <ng-container matColumnDef="safari">
          <th mat-header-cell *matHeaderCellDef> Safari </th>
          <td mat-cell *matCellDef="let element"> {{element.safari}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
  <annoq-footer></annoq-footer>
</div>