@use "@angular/material" as mat;
@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%;

  .annoq-topmenu {
    display: flex;
    flex-direction: column;
    background-color: #6a8095;
  }
  
  .annoq-topmenu-header {
    padding-right: 10px;
    border-right: #999 solid 1px;
    color: #fff;
  }

  button {
    color: #ddd;
    font-size: 12px;

    &.annoq-active {
      font-size: 15px;
      color: map-get($primary, default);
      color: #fff;
    }
  }

  annoq-snp-stats {
    @include deep-width(100% !important);
  }
}