@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  width: 100%; //white-space:nowrap;

  .background-highlight {
    //background-color: #DDD;
  }

  button {
    &.annoq-sm {
      font-size: 12px
    }
  }

  .annoq-sidenav {
    position: relative;
    @include deep-width(100%);
    @include deep-height(100%);
    background-color: #FFF;
    border-right: #DDD solid 1px;
    z-index: 10;

    @include media-breakpoint('gt-md') {}
  }

  .annoq-tree-container {
    padding: 5px;
    padding-bottom: 200px;
  }

  .annoq-tree-node {
    @include deep-height(40px);
    font-size: 14px;
    color: #000;
    padding-right: 12px;

    .annoq-icon-button {
      @include deep-height(25px);
      @include deep-width(25px);
      line-height: 25px;
      color: #AAA;
    }

    .annoq-tree-icon {
      color: #000;
      font-size: 14px;
    }

    .annoq-annotation-row {
      padding: 8px 5px;

      .annoq-title {
        // font-weight: bold;
        //font-size: 20px;
        //margin-bottom: 5px;
        word-break: break-all;
      }
    }

    &:hover {
      background-color: rgba(#000000, 0.10);
    }
  }

}
