---
---

@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "bootstrap/bootstrap";

@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $noc-enable-google-fonts {
  @import url($web-font-path);
  @import url($web-font-path-nav);
}

footer {
  min-height: 150px;

  @include media-breakpoint-down(md) {
    min-height: 200px;
  }
}

footer.annoq-docs-footer {
  padding: 30px 8px 44px 8px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $white;
  background-color: #183153;


  .annoq-docs-footer-left {
    max-width: 25%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  .annoq-docs-footer-logo {
    width: 100%;
  }

  .annoq-docs-footer-links-wrap {
    display: flex;
    justify-content: flex-start;

    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }

  .annoq-docs-footer-links {
    margin-bottom: 0;
  }

  a {
    color: $white;

    &:hover {
      color: $gray-300;
    }
  }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .noc-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden;
  }
}

@import "styles_project";
