<div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="header accent p-8 w-100-p">
        <div class="annoq-container" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="">
                <h1>
                    Supported Annotations <br>
                </h1>
                <h2>Currently only human variants are supported</h2>
                <form class="annoq-search-form" fxLayout="column" fxLayoutAlign="start stretch" name="searchForm"
                    [formGroup]="searchForm">
                    <mat-form-field appearance="outline" class="annoq-sm">
                        <mat-label>search</mat-label>
                        <textarea type="text" matInput formControlName="title" rows="2"></textarea>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
    <div class="annoq-detail-footer" fxLayout="row" fxLayoutAlign="center center">
        <a [routerLink]="['/version']"><button type="button" mat-raised-button color="" class="mr-8">Data Versions</button></a>
        <button (click)='annotationService.downloadConfig()' type="button" mat-raised-button color=""
            class="mr-8">Export Config</button>
        <button (click)='annotationService.clear()' type="button" mat-raised-button color="" class="mr-8">Clear
            Selection</button>
        <label for="annoq-upload-config" fxLayout="row" fxLayoutAlign="start center" class="annoq-file-upload">
            <button mat-raised-button class="annoq-file-button">
                <mat-icon class="s-16 mr-4">cloud_upload</mat-icon> Upload Config
            </button>
        </label>
        <input #configFileInput type="file" id="annoq-upload-config" (click)="configFileInput.value = null" value=""
            (change)="annotationService.onConfigFileChange($event)" class="annoq-file-upload" />
    </div>
    <div class="annoq-section section-1" fxFlex="" annoqPerfectScrollbar>
        <div class="annoq-container" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="annoq-tree-container" annoqPerfectScrollbar>
                <mat-tree #tree *ngIf="dataSource?.data" [dataSource]="dataSource"
                    [treeControl]="annotationService.treeControl">
                    <mat-tree-node class="annoq-tree-node" *matTreeNodeDef="let node" matTreeNodeToggle
                        matTreeNodePadding matTreeNodePaddingIndent="20" [ngClass]="{ 'background-highlight': annotationService.activeAnnotation === node.short_name,
                    'annoq-hide':!node.visible }">
                        <div class="" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button disabled class="annoq-icon-button"></button>
                            <mat-checkbox class="checklist-leaf-node mr-8"
                                [checked]="annotationService.checklistSelection.isSelected(node)"
                                (change)="annotationService.annotationLeafItemSelectionToggle(node)"></mat-checkbox>
                            <div class="annoq-annotation-row" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
                                <div class="annoq-title">
                                    {{node.label}}
                                </div>
                                <div class="annoq-description">
                                    {{node.detail}}
                                </div>
                            </div>
                        </div>
                    </mat-tree-node>
                    <mat-tree-node fxLayout="row" class="annoq-tree-node"
                        *matTreeNodeDef="let node;when: annotationService.hasChild" matTreeNodePadding
                        matTreeNodePaddingIndent="20" [ngClass]="{ 'background-highlight': activeAnnotation === node.short_name,
                        'annoq-hide':!node.visible }">
                        <div class="" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button matTreeNodeToggle class="annoq-icon-button"
                                [attr.aria-label]="'toggle ' + node.long_name">
                                <fa-icon *ngIf="!annotationService.treeControl.isExpanded(node)" class="annoq-tree-icon"
                                    [icon]="['fas', 'caret-right']"></fa-icon>
                                <fa-icon *ngIf="annotationService.treeControl.isExpanded(node)" class="annoq-tree-icon"
                                    [icon]="['fas', 'caret-down']"></fa-icon>

                            </button>
                            <mat-checkbox class="mr-8" [checked]="annotationService.descendantsAllSelected(node)"
                                [indeterminate]="annotationService.descendantsPartiallySelected(node)"
                                (change)="annotationService.annotationItemSelectionToggle(node)">
                            </mat-checkbox>
                            <div class="annoq-annotation-row" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
                                <div class="annoq-title">
                                    {{node.label}}
                                </div>
                                <div class="annoq-description">
                                    {{node.detail}}
                                </div>
                            </div>
                        </div>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </div>
        <annoq-footer></annoq-footer>
    </div>
</div>