@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

:host {
  // width: 100%; //white-space:nowrap;

  .annoq-sidenav {
    position: relative;
    @include deep-width(100%);
    @include deep-height(100%);
    background-color: #fff;
    border-right: #ddd solid 1px;
    z-index: 10;

    @include media-breakpoint("gt-md") {
    }
  }

  .annoq-tree-container {
    padding: 5px;
    padding-bottom: 200px;
  }

  .annoq-tree-node {
    // @include deep-height(40px);
    font-size: 12px;
    color: #000;
    padding-right: 12px;

    .annoq-icon-button {
      @include deep-height(25px);
      @include deep-width(25px);
      line-height: 25px;
      color: #aaa;
    }

    .annoq-tree-icon {
      color: #000;
      font-size: 20px;
    }

    &:hover {
      background-color: rgba(#000000, 0.1);
    }
  }

  .annoq-hide {
    @include deep-height(0);
    background-color: aquamarine;
    visibility: hidden;
    display: none;
  }

  .annoq-search-form {
    // width: 500px;
    background-color: #ffffff;
  }

  h2 {
    margin: 0;
  }

  .header {
    @include deep-height(200px);
    padding-bottom: 10px;
    background-image: linear-gradient(
      to right,
      rgba($annoq-primary-color, 0.8),
      rgba($annoq-primary-color, 0.9),
      $annoq-primary-color
    );
    background-blend-mode: initial;
    background-size: cover;
    background-position: top;
    position: relative;
    flex: 1 0 auto;
    text-align: center;
    //overflow: hidden;

    .annoq-container {
      overflow: hidden;
    }

    h1 {
      width: 100%;
      font-size: 30px;
      font-weight: normal;
      color: #fff;
      margin: 30px 0 0 0;
      padding: 0;

      strong {
        font-size: 54px;
        letter-spacing: 3px;
      }

      @include media-breakpoint("lt-md") {
        font-size: 24px;
      }
    }

    h2 {
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.03em;
      margin: 0 0 30px 0;
      color: #ffffff;
      line-height: 1.5;

      @include media-breakpoint("lt-md") {
        font-size: 14px;
      }
    }

    h4 {
      padding-top: 10px;
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      margin: 0;
      color: rgba(#ffffff, 0.8);
    }
  }

  .annoq-detail-footer {
    @include deep-height(60px);
  }

  .annoq-section {
    padding: 40px 10px;
    min-height: calc(100% - 210px);

    .annoq-heading {
      margin: 0 auto;
      width: 800px;

      h3 {
        font-size: 28px;
      }
    }

    h2 {
      //padding-bottom: 20px;
      font-size: 40px;
    }

    &.section-1 {
      background-color: #fff;
    }

    &.section-2 {
      background-color: rgba($annoq-primary-color, 0.1);
    }
  }

  .annoq-annotation-row {
    padding: 8px 5px;

    .annoq-title {
      // font-weight: bold;
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }

  input[type="file"] {
    display: none;
  }

  button {
    &.annoq-file-button {
      pointer-events: none;
    }
  }

  label {
    padding: 0;
  }

  .annoq-file-upload-title {
    margin-left: 4px;
    color: #888;
    font-weight: bold;
  }
}
