<div class="w-100-p" noctuaPerfectScrollbar>

    <div class="header accent p-8 w-100-p">
        <div class="annoq-container" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="">
                <h1>
                    Supported Annotations <br>
                </h1>

                <form class="annoq-search-form" fxLayout="column" fxLayoutAlign="start stretch" name="searchForm"
                    [formGroup]="searchForm">
                    <mat-form-field appearance="outline" class="annoq-sm">
                        <mat-label>search</mat-label>
                        <textarea type="text" matInput formControlName="title" rows="2"></textarea>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
    <div class="annoq-section section-1">
        <div class="annoq-container" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="annoq-annotation-row" *ngFor="let annotation of filteredAnnotations" fxLayout="column"
                fxLayoutAlign="start stretch">
                <div class="annoq-title">
                    {{annotation.name}}
                </div>
                <div class="annoq-description">
                    {{annotation.detail}}
                </div>
            </div>
        </div>
    </div>
    <annoq-footer></annoq-footer>
</div>