@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .annoq-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;

    button {
      @include deep-width(60px);
      @include deep-height(60px);

      font-size: 20px;
      color: rgba(map-get($primary, default), 0.5);

      &.annoq-active {
        font-size: 28px;
        color: map-get($primary, default);
      }
    }
  }

  .annoq-table-menu-row {
    height: 60px;
  }

  .annoq-drawer {
    @include deep-width(calc(100% - 61px));
  }

  .annoq-drawer-body {
    @include deep-height(calc(100% - 90px));
    overflow: auto;
  }

  .mat-cell {
    padding: 0 10px;
    font-size: 12px !important;
    color: #000;
  }

  .mat-header-cell {
    padding: 0 10px;
    font-size: 10px !important;
    color: map-get($primary, default);
    font-weight: bold;

    .annoq-count {
      font-weight: normal;
      cursor: pointer;
    }
  }

  .mat-header-cell,
  .mat-header-row {
    //padding: 0;
    @include deep-height(35px);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: #d6ddea; // font-size: 3px !important;
    white-space: nowrap;
  }

  .annoq-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .annoq-form-section {
    width: 100%;
    background-color: #fff;

    input[type="file"] {
      display: none;
    }

    .annoq-section-header {
      height: 30px;
      background-color: $annoq-primary-color-light;

      .annoq-section-heading {
        padding-left: 8px;
        font-size: 12px;
        line-height: 40px;
        color: #555;
      }

      .annoq-action-button {
        margin: 0px;
        height: 40px; // line-height: 36px;
      }
    }

    .annoq-section-body {
      padding: 5px 5px;
    }
  }
}
