@use "@angular/material" as mat;
@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .annoq-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;
    background-color: #6a8095;

    .annoq-sidemenu-header {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 20px;
      @include deep-height(40px);
      @include mat.elevation(2);
      z-index: 1000;
      color: #fff;
    }

    .annoq-label {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: bold;
    }

    button {
      @include deep-width(90px);
      @include deep-height(60px);
      line-height: 25px;
      border-radius: 0 !important;

      font-size: 20px;
      // color: rgba(map-get($primary, default), 0.5);
      color: #ddd;

      &.annoq-active {
        font-size: 28px;
        color: map-get($primary, default);
        color: #fff;
      }
    }
  }

  .annoq-table-menu-row {
    height: 60px;
  }

  .annoq-drawer {
    @include deep-width(calc(100% - 61px));
  }

  .annoq-drawer-body {
    @include deep-height(calc(100% - 90px));
    overflow: auto;
  }

  .mat-cell {
    vertical-align: top;
    padding: 10px;
    font-size: 12px !important;
    color: #000;
    border-right: #ddd solid 1px;
    .annoq-cell-coordinates {
      padding: 2px 4px;
    }

    .annoq-cell-terms {
      ul {
        margin: 0;
        padding-left: 15px;
        list-style: square;

        li {
          margin: 0;
          //padding: 0;
        }
      }
      .annoq-cell-title {
        //margin: 5px 0;
        // border: #aaa solid 1px;
        // border-radius: 6px;
      }
    }
  }

  .mat-cell,
  .mat-header-cell {
    max-width: 450px;
    word-wrap: break-word;
  }

  .mat-header-cell {
    height: 35px;
    padding: 0 10px;
    font-size: 10px !important;
    color: map-get($primary, default);
    font-weight: bold;
    border-right: #aaa solid 1px;

    .annoq-rounded-button {
      padding: 0px 8px;
      font-size: 10px;
      color: rgba(#0000ee, 0.6);
      border: rgba(map-get($primary, default), 0.4) solid 1px;

      &:hover {
        color: map-get($primary, default);
        border: map-get($primary, default) solid 1px;
      }
    }

    .annoq-count {
      font-weight: normal;
      cursor: pointer;
    }
  }

  .mat-header-cell,
  .mat-header-row {
    //padding: 0;
    @include deep-height(35px!important);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: #d6ddea; // font-size: 3px !important;
    white-space: nowrap;
    .annoq-action-button {
      padding: 0 !important;
      @include deep-height(35px!important);
      @include deep-width(35px!important);
      border-radius: 0 !important;
    }
  }

  .annoq-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .annoq-form-section {
    width: 100%;
    background-color: #fff;

    input[type="file"] {
      display: none;
    }

    .annoq-section-header {
      height: 30px;
      background-color: $annoq-primary-color-light;

      .annoq-section-heading {
        padding-left: 8px;
        font-size: 12px;
        line-height: 40px;
        color: #555;
      }

      .annoq-action-button {
        margin: 0px;
        height: 40px; // line-height: 36px;
      }
    }

    .annoq-section-body {
      padding: 5px 5px;
    }
  }
}
