<div class="w-100-p" annoqPerfectScrollbar>

    <div class="annoq-body annoq-section section-1">
        <div class="annoq-container annoq-sm-container" fxLayout="column" fxLayoutAlign="start stretch">
            <h1>About</h1>
            <p>
                The Annotation Query (AnnoQ) is an integrated functional annotation platform for large-scale genetic
                variant annotation. The backend of the system is a large collection of pre-annotated variants from the
                Haplotype Reference Consortium (HRC) (~39 million) with sequence features (by WGSA) and functions
                (PANTHER and Gene Ontology). Currently only human variants are supported. The data is built in an
                Elasticsearch framework and an API was built to allow users to quickly access the annotation data in three ways:
            </p>
            <ol>
                <li>Interactive web interface.</li>
                <li>API data access using command line scripts.</li>
                <li>Programming packages such as <a href="https://github.com/USCbiostats/AnnoQR">R</a> and <a href="https://github.com/USCbiostats/annoq-py ">python</a>.</li>
            </ol>

            <div class="annoq-img">
            <img class="" src="assets/images/annoq_workflow.svg" style="width: 120%; height:auto">
            </div>

            <h2>Team members</h2>
            <ul>
                <li><strong> Akshala Bhatnagar</strong> (AnnoQ API Development)</li>
                <li><strong> Ebert, Dustin</strong> (bioinformatics programmer, GO and PANTHER data)</li>
                <li><strong> Ayaan Kakkar</strong> (masters student, AnnoQ API and Website Development)</li>                
                <li><strong> Liu, Zhu</strong> (Overall Architectect)</li>
                <li><strong> Mi, Huaiyu</strong> (Principal Investigator)</li>
                <li><strong> Mills, Caitlin</strong> (PEREGRINE development)</li>
                <li><strong> Muruganujan, Anushya</strong> (software engineer, GO and PANTHER data)</li>
                <li><strong> Mushayahama, Tremayne</strong> (software engineer, AnnoQ Website)</li>
                <li><strong> Queme, Bryan</strong> (PhD student, AnnoQ Development)</li>
            </ul>
            <h2>Publication</h2>
                <a href="https://academic.oup.com/nar/article/50/W1/W57/6595265?searchresult=1" target="_blank" >Annotation Query (AnnoQ): an integrated and interactive platform for large-scale genetic variant annotation.</a>
                  Liu Z, Mushayahama T, Queme B, Ebert D, Muruganujan A, Mills C, Thomas PD, Mi H.  
                <BR>
                  <div class="text-italic">Nucleic Acids Research, Volume 50, Issue W1, 5 July 2022, Pages W57–W65, <a href="https://doi.org/10.1093/nar/gkac418" target="_blank">https://doi.org/10.1093/nar/gkac418</a></div>  
            <h2>Funding</h2>
            <p>
                AnnoQ project is supported by a P01 grant from the National Cancer Institute (P01CA19656)
            </p>
        </div>
    </div>
    <annoq-footer></annoq-footer>
</div>