@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

:host {
  width: 100%;

  .annoq-left-drawer {
    width: 500px;
    border-right: #111 solid 1px;

    .phtr-menu-section {
      width: 100%;
    }
  }

  annoq-search-form {
    @include deep-width(600px !important);
  }

  annoq-snp-detail {
    @include deep-width(500px !important);
  }
  annoq-snp-summary,
  annoq-snp-stats {
    @include deep-width(600px !important);
  }
}

.annoq-search-form {
  padding: 15px;
  @include deep-width(500px);
}
