<div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
    <mat-drawer #leftDrawer opened="true" class="annoq-left-drawer" mode="side" position="start">
      <div fxLayout="column" fxLayoutAlign="start stretch" class="annoq-drawer w-100-p h-100-p">
        <div class="annoq-drawer-header" fxLayout="row" fxLayoutAlign="start center">
          <span class="annoq-drawer-header-title">
            Variants Annotation Query Provided by IMAGE Project
          </span>
          <span fxFlex></span>
          <button *ngIf="false" mat-icon-button (click)="noctuaMenuService.closeLeftDrawer()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="annoq-drawer-body w-100-p" fxFlex>
          <annoq-annotation></annoq-annotation>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="w-100-p">
      <annoq-snp-table class="w-100-p h-100-p"></annoq-snp-table>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="annoq-right-drawer" noctuaPerfectScrollbar mode="side" position="end">
      <div class="h-100-p" [ngSwitch]="noctuaMenuService.selectedRightPanel">
        <annoq-snp-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.snpDetail"> </annoq-snp-detail>
        <annoq-snp-summary [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.snpSummary">
        </annoq-snp-summary>
        <annoq-snp-stats [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.snpStats"> </annoq-snp-stats>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>