<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-primary m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Detail: {{annotationDetail.name}}</span>
      <span fxFlex></span>
      <button mat-stroked-button (click)="close()" class="annoq-rounded-button annoq-sm" color="primary"
        aria-label="Close dialog">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="annoq-dialog-body" annoqPerfectScrollbar>
    <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            ID
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          {{ annotationDetail.id }}
        </div>
      </div>
      <div class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            Label
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          {{ annotationDetail.label }}
        </div>
      </div>
      <div class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            Description
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          {{ annotationDetail.detail }}
        </div>
      </div>
      <div class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            Parent
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          {{ annotationDetail.parent_id }}
        </div>
      </div>
      <div *ngIf="annotationDetail.link" class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            External Website
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          <a href="{{ annotationDetail.link }}" target="_blank">
            {{ annotationDetail.link }}
          </a>
        </div>
      </div>
      <div *ngIf="annotationDetail.pmid" class="annoq-detail-row" fxLayout="row" fxLayoutAlign="start start">
        <div class="annoq-title" fxFlex="30%">
          <div class="text-truncate">
            PMID
          </div>
        </div>
        <div class="annoq-description" fxFlex="70%">
          <a href="{{ getPMIDUrl(annotationDetail.pmid) }}" target="_blank">
            {{ annotationDetail.pmid }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div>
</div>