@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .annoq-drawer {
    @include deep-width(500px !important);
  }

  .annoq-snp-detail-row {
    padding: 5px 10px;
    border-bottom: #888 solid 1px;
    font-size: 12px;

    .annoq-no-info {
      padding: 10px 10px;
      font-size: 10px;
    }

    .annoq-title {
      color: #999;
      font-size: 18px;
      font-weight: bold;
      padding: 12px 0;
    }

    .annoq-description {
      word-break: break-all;
    }

    .annoq-item {
      padding: 4px 0;
      border-bottom: #ccc solid 1px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
