@import "src/@annoq/scss/annoq";

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  a {
    color: #222;
  }

  .mat-toolbar {
    padding-right: 1%;
    background-color: #fff;
    @include deep-height(100%);
    color: inherit;
    position: relative;

    .annoq-query-buttons {
      padding: 0.5%;
      width: 15%;
      @include media-breakpoint("lt-sm") {
        margin-left: 5%;
        width: 65%;
      }

      button,
      a {
        text-decoration: none;
        color: map-get($primary, default);
        font-size: 60%;
        @include media-breakpoint("lt-sm") {
          font-size: 50%;
        }
        border: map-get($primary, default) solid 1px;
      }
    }

    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  .annoq-logo {
    .annoq-main-logo {
      margin-right: 5%;
      font-weight: bold;
    }

    .annoq-sub-logo {
      font-weight: normal;
    }
  }
}
