<mat-toolbar class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100px">
    <div class="annoq-logo" fxLayout="row" fxLayoutAlign="start">
      <a class="annoq-main-logo" [routerLink]="['/']">
        AnnoQ
      </a>
    </div>
  </div>
  <div class="annoq-query-buttons" fxLayout="row" fxLayoutAlign="start start">
    <button mat-stroked-button [routerLink]="['/search']" fxFlex="50"
      class="annoq-rounded-button mr-4 annoq-half-button annoq-sm annoq-r">
      LAUNCH QUERY UI
    </button>
    <a href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" fxFlex="50" target="_blank"
      mat-stroked-button class="annoq-rounded-button annoq-half-button annoq-sm annoq-l">
      UI TUTORIAL
    </a>
  </div>
  <span fxFlex=""></span>
  <a mat-button href="https://uscbiostats.github.io/annoq-site/docs/tutorials/api">Data Access</a>
  <a mat-button [routerLink]="['/detail']">Annotations</a>
  <a mat-button [routerLink]="['/about']">About</a>
  <a mat-button href="https://uscbiostats.github.io/annoq-site/" target="_blank">Documentation</a>
</mat-toolbar>