<mat-toolbar class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100px">
    <div class="annoq-logo" fxLayout="row" fxLayoutAlign="start">
      <a class="annoq-main-logo" [routerLink]="['/']">
        AnnoQ
      </a>
    </div>
  </div>
  <a mat-raised-button class="annoq-query-button" color="primary" [routerLink]="['/search']">Interactive Query</a>
  <a mat-raised-button class="annoq-query-button" color=""
    href="https://uscbiostats.github.io/annoq-site/docs/tutorials/ui-query" target="_blank">UI Tutorial</a>

  <span fxFlex=""></span>
  <a mat-button href="https://uscbiostats.github.io/annoq-site/docs/tutorials/api" target="_blank">Data Access</a>
  <a mat-button href="https://uscbiostats.github.io/annoq-site/" target="_blank">Documentation</a>
</mat-toolbar>