@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

:host {
  footer {
    padding: 30px 8px;
    background-color: $annoq-primary-color;
    color: #f7f7f7;

    .annoq-image-logo {
      width: 100%;
    }

    a {
      color: #ffffff;

      &:hover {
        color: #dddddd;
      }
    }
  }
}
