@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

:host {
  footer {
    background-color: $annoq-primary-color;
    color: #F7F7F7;

    .annoq-image-logo {
      width: 100%;
    }

    a {
      color: #FFFFFF;

      &:hover {
        color: #DDDDDD;
      }
    }
  }
}
