@import "src/@annoq/scss/annoq";
@import "src/@annoq.common/scss/annoq.common";

:host {
  width: 100%;

  mat-toolbar {
    display: flex;
    flex-direction: column;
  }
  

  annoq-snp-stats {
    @include deep-width(100% !important);
  }
}