<div class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
    <mat-toolbar class="annoq-topmenu" fxLayout="row" fxLayoutAlign="start center">
        <div class="annoq-topmenu-header" fxLayout="row" fxLayoutAlign="center center">
          Tools
        </div>
        <button mat-icon-button color="" class="annoq-rounded-button" fxFlex="20" (click)="table()">
          <fa-icon [icon]="['fas', 'table']"></fa-icon>
          <span>
            Table
          </span>
        </button>
        <button mat-icon-button color="" class="annoq-rounded-button annoq-active" fxFlex="20">
          <fa-icon [icon]="['fas', 'list']"></fa-icon>
          <span>
            Summary
          </span>
        </button>
        <button mat-icon-button color="" class="annoq-rounded-button" fxFlex="20" (click)="stats()">
          <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
          <span>
            Stats
          </span>
        </button>
    </mat-toolbar>
    <annoq-snp-summary></annoq-snp-summary>
</div>