<div fxLayout="column" fxLayoutAlign="start stretch" class="annoq-drawer h-100-p">
  <div class="annoq-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="annoq-drawer-header-title">
      Results Details & Stats</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="annoq-rounded-button annoq-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> CLOSE
    </button>
  </div>
  <div class="annoq-tab-bar" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button *ngFor="let statsType of statsTypes" color="" class="annoq-tab-button"
      [ngClass]="{'annoq-active': selectedStatsType === statsType.name}" (click)="selectStatsType(statsType.name)"
      matTooltip="{{statsType.tooltip}}" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      {{statsType.label}}
    </button>
  </div>
  <div *ngIf="snpAggs" class="annoq-drawer-body" annoqPerfectScrollbar>
    <div [ngSwitch]="selectedStatsType">
      <annoq-general-stats *ngSwitchCase="StatsType.GENERAL" [snpAggs]="snpAggs"></annoq-general-stats>

    </div>
  </div>
</div>